body {   
    background-image: url('../images/test.jpg');
    padding-top: 50px;
    padding-bottom: 20px;
    color:white;    
}


/* Search view */

.form-control {
    margin-top: 10px;
}

.table > tbody + tbody{
     
border-top:0px;
padding-left: 4px;
padding-right: 4px;
}

 /*  Search Modul    */

 .modal{
    top: 50px;
}

body-search a{    

     color:yellow;     
     background-color: transparent;
}
body-search a1{

     color:greenyellow;     
     
}
body-search h4{
    
    color:yellow;
    background-color: transparent;
}
.modal-content{
background-color: rgba(0, 0, 0, 0.7);
}

.modal-backdrop{
   
    z-index:unset;
}

/*----------------*/

.side{
    color:yellow;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    
}

.body-content a{
    color:yellow;
    text-decoration: underline;
}

td.comment{
    color: forestgreen;
    background-color:gainsboro;
    font-style: italic;
    
}

td.comment a{
    color:red
}

textarea.comment{
    color: forestgreen;
    background-color: gainsboro;
    font-style: italic;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;    
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,*/
textarea {
    width: 450px;
    color: forestgreen;
    background-color: gainsboro;
    
}

